<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="utilities.Listeners"></listener>
        <listener class-name="utilities.ExtentReporterNG"></listener>
    </listeners>
    <test name="test_1">
        <classes>
<!--            <class name="BookingAppTests_tc_1"></class>-->
<!--            -->
            <class name="BaseApiDemoApp_tc_1">
                <methods>
<!--                    <exclude name="totalValidation"></exclude>-->
<!--                    <exclude name="SingleData"></exclude>-->
                </methods>
            </class>
<!--                        <class name="E_Commerce_tc_4">-->
<!--                            <parameter name="name" value="My name"></parameter>-->
<!--                            <parameter name="country" value="Argentina"></parameter>-->
<!--                            <parameter name="totalAmountOfAddedProductsToTheCart" value="1"></parameter>-->
<!--                        </class>-->
        </classes>
    </test>
</suite>